@use '../../style/Manrope.scss';
@use '../../style/FontAwesome.scss';

// SECTION Per-Device-Width
$widthToggle: 1440px;
$widthToggle2: 600px;

// ANCHOR > $widthToggle
@media screen and (min-width: $widthToggle) {
  .profile {
    --width: 40vw;

    // .left {
    //   .App-logo.profilePagePfpImg {
    //     --height: 6.5rem;
    //   }
    // }
    .middle {
      .username {
        --fontSize: 1.5em;
      }
    }
  }
}
// ANCHOR < $widthToggle && > $widthToggle2
@media screen and (max-width: $widthToggle) and (min-width: $widthToggle2) {
  .profile {
    --width: 80vw;

    // .left {
    //   .App-logo.profilePagePfpImg {
    //     --height: 5rem;
    //   }
    // }
    .middle {
      padding-top: 10px !important;
      .username {
        --fontSize: 1.2em;
      }
    }
  }
}
// ANCHOR < $widthToggle2
@media screen and (max-width: $widthToggle2) {
  .profile {
    --width: 90vw;
    // .left {
    //   .App-logo.profilePagePfpImg {
    //     --height: 3rem;
    //   }
    // }
    .middle {
      padding-top: 5px !important;
      .username {
        --fontSize: 1em;
      }
    }
  }
}
// !SECTION

// ANCHOR Profile
.profile {
  // position: fixed;
  // left: 50vw;
  // top: 50vh;
  // transform: translate(-50%, -50%);

  background: #23222b;

  border-radius: 20px;

  min-width: var(--width);
  max-width: var(--width);
  min-height: 50vh;

  animation: in 1s;

  display: flex;
  // ANCHOR Bottom/Left: Padding & Display
  .left,
  .bottom {
    padding: 20px 20px;
    display: block;
  }
  // SECTION Left
  .left {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    background: linear-gradient(20deg, rgb(98, 0, 255), rgb(0, 102, 255));

    // SECTION Top
    .top {
      // ANCHOR Profile page image
      .profilePagePfpImg {
        transition: height 2s, --height 2s;
        height: var(--height);
        border-radius: 100%;
        border: solid #2a2b2c 3px;
      }
    }
    // !SECTION
    // SECTION Middle
    .middle {
      // SECTION Username
      .username {
        font-family: Discord;
        transition: font-size 2s, --fontSize 2s;
        // ANCHOR User
        .user {
          font-size: var(--fontSize);
        }
        // ANCHOR Tag
        .tag {
          font-size: calc(var(--fontSize) / 1.25);
          color: rgb(159, 166, 178);
        }
      }
      // !SECTION
    }
    // !SECTION
    // SECTION bottom
    .bottom {
      .left {
        a {
          --linkClr: rgb(177, 177, 177);
        }
        .SocialButton {
          top: 0;
          position: relative;
          transition: top 1s;
          &:hover {
            top: -10px;
          }
        }
      }
    }
    // !SECTION
    // SECTION Profile Icons
    .ProfileIcons {
      text-align: center;
    }
    // !SECTION
  }
  // !SECTION
  // SECTION Right
  .right {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    padding-left: 20px;
    padding-right: 20px;

    text-align: left;

    // SECTION Widgets
    .widget {
      transition: all 1s;
    }

    // ANCHOR Widgets 2/3
    .widget:nth-child(2),
    .widget:nth-child(3) {
      padding-left: 5%;
    }
    // ANCHOR Widget 3
    .widget:nth-child(3) {
      padding-right: 5%;
    }

    // SECTION Widget Icons
    // ANCHOR About
    .aboutText::before {
      content: '\f5ac  ​';
      color: #0099ff;
    }
    // ANCHOR Gender/Pronouns
    .genderText::before {
      content: '\f221  ​';
      color: #a200ff;
    }
    // ANCHOR Email
    .emailText::before {
      content: '\f0e0  ​';
      color: #a200ff;
    }
    // ANCHOR Discord
    .discordText::before {
      content: ' ​';
      width: 1.2em;
      height: 1em;
      display: inline-block;
      background-image: url(./Discord.png);
      background-repeat: no-repeat;
      background-blend-mode: normal;
      background-size: 100%;
    }
    // ANCHOR Occupation
    .occText::before {
      content: '\f0b1  ';
      color: #a200ff;
    }
    // !SECTION

    // ANCHOR Widget Titles
    .sectionTitle {
      font-size: 1em;
      font-weight: 400;
      font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
      &::before {
        font-family: FontAwesome, sans-serif;
        font-weight: 100;
      }
      & + .aboutValue {
        font-size: 1.2em;
      }
    }

    // ANCHOR Shown/Hidden Extra Content
    .additionalContent {
      transition: all 1s;
    }
    .hideAdditionalContent + .additionalContent,
    .hideAdditionalContent .additionalContent {
      opacity: 0;
      pointer-events: none;
      text-overflow: ellipsis;
    }
    .showAdditionalContent + .additionalContent,
    .showAdditionalContent .additionalContent {
      opacity: 1;
      pointer-events: all;
    }
    // !SECTION
  }
  // !SECTION
}

@keyframes in {
  0% {
    transform: scale(0); // translate(-50%, -50%);
  }
  75% {
    transform: scale(1.25); // translate(-50%, -50%);
  }
  100% {
    transform: scale(1); //translate(-50%, -50%);
  }
}

// .profile {
//   padding: 56px 20px;
//   min-height: 100%;
//   width: 100%;
// }
.profileWrapper {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
