// Manrope Font

// Extra-Light
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../../fonts/Manrope/Manrope-ExtraLight.ttf) format('truetype');
}

// Light
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../../fonts/Manrope/Manrope-Light.ttf) format('truetype');
}

// Semi-Light
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../fonts/Manrope/Manrope-Regular.ttf) format('truetype');
}

// Normal
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/Manrope/Manrope-Medium.ttf) format('truetype');
}

// SemiBold
@font-face {
  font-family: 'Manrope';
  font-style: 600;
  font-weight: bold;
  font-display: swap;
  src: url(../../fonts/Manrope/Manrope-SemiBold.ttf) format('truetype');
}

// Bold
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/Manrope/Manrope-Bold.ttf) format('truetype');
}

// ExtraBold
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../../fonts/Manrope/Manrope-ExtraBold.ttf) format('truetype');
}
